/* App-level overrides and slick carousel styles */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.App {
  overflow-x: hidden;
}

/* Slick dot customization */
.slick-dots li button:before {
  color: var(--grey-lighter);
  font-size: 10px;
  opacity: 1;
}
.slick-dots li.slick-active button:before {
  color: var(--yellow);
  opacity: 1;
}
.slick-prev:before,
.slick-next:before {
  color: var(--yellow);
  font-size: 22px;
}
